@media (min-width: 200px) {
    .div1{ 
        background-color: chocolate;
    }
}

@media (min-width: 400px) {
    .div1{ 
        background-color: darkturquoise;
    }
}

@media (orientation: landscape) {
    .div2{ 
        background-color: powderblue;
    }
}

@media (orientation: portrait) {
    .div2{ 
        background-color: wheat;
    }
}

@media (min-resolution: 192dpi){
    .div3{
        background-color: yellow
    }
}

@media (min-resolution: 200dpi){
    .div3{
        background-color: rgb(0, 183, 255)
    }
}

/* checked. completion receipt */
