#logo{
    width: 200px;
}

/* kebab case / hyphen case */

body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgray;
}


.header-object, .footer-object {
    background-color: navy;
    color: white;
    text-align: center;
}

.nav-object{
    padding: 1em 0;

}

.list-object {
    display: inline-block;
    margin-right: 20px;
    color: aqua;
    text-decoration: underline;
}

.footer-object{
    font-size: 10px;
}